// ==========================================================================================
// Variables
// ==========================================================================================

// Project variables here...


//colors
$color-blue : #89B5F4;
$color-white: #ffffff;
$color-black: #494949;
$color-gray : #E5E5E5;

// responsive
$phone: "max-width: 450px";
$half-sm: "max-width: 550px";
$sm: "max-width: 767px";
$md: "max-width: 991px";
$lg: "max-width: 1199px";
$xlg: "max-width: 1299px";
$xxlg: "max-width: 1499px"